.modal {
  z-index: 100;
  padding-right: 0 !important;
  background-color: $black;

  &.show {
    opacity: 0.90;
  }

  .modal-dialog {
    max-width: none;

    .modal-content {
      border: 0;
      background-color: transparent;
    }

    .container-xl {
      position: relative;
    }
  }

  .close {
    position: absolute;
    z-index: 2;
    top: 40px;
    right: 15px;
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
    pointer-events: all;
    opacity: 1;
    border: 1px solid $blue_dark;
    border-radius: 100%;
    background-color: $blue_dark;

    &:hover {
      // border: 2px solid $white;
      background-color: $blue_light;

      .hamburger-box {
        transition: all 0.3s ease;
        transform: rotate(180deg);
        pointer-events: none;

        .hamburger-inner {
          pointer-events: all;
          &,
          &::after,
          &::before {
            background-color: $white;
          }
        }
      }
    }

    &:focus {
      outline: 0;
    }

    .hamburger-box {
      position: relative;
      top: 2px;
      width: 25px;

      .hamburger-inner {

        &,
        &::after,
        &::before {
          width: 25px;
          background-color: $white;
        }
      }
    }
  }
}

